ACTION=="add", SUBSYSTEM=="video4linux", \
RUN="/etc/init.d/litelog-sh-video-record.dev.video0 spawn $env{DEVNAME} start", \
OPTIONS="last_rule"

ACTION=="remove", SUBSYSTEM=="video4linux", \
RUN+="/etc/init.d/litelog-sh-video-record.dev.video0 spawn $env{DEVNAME} stop", \
OPTIONS="last_rule"
