[Unit]
Description=Litelog-Sh RTL-SDR Recorder
Requires=litelog-sh-systemd-confsync.service

[Service]
EnvironmentFile=/etc/litelog
ExecStart=/bin/sh ${LITELOGDIR}/sh/rtl-sdr/record.sh "%I"
Restart=always
