[Unit]
Description=Litelog-Sh Git-Annex Assistant
Conflicts=litelog-sh-git_annex-webapp.service litelog-sh-git-commit.path litelog-sh-git-commit.timer
Requires=litelog-sh-systemd-confsync.service

[Service]
EnvironmentFile=/etc/litelog
ExecStart=/bin/sh -c ". ${LITELOGDIR}/sh/functions; cd ${LOGDIR}; cd \"$(git rev-parse --show-toplevel)\"; exec git annex assistant --foreground --trust-glacier --quiet"
ExecStop=/bin/sh -c ". ${LITELOGDIR}/sh/functions; cd ${LOGDIR}; cd \"$(git rev-parse --show-toplevel)\"; exec git annex assistant --stop"

[Install]
WantedBy=default.target
