[Unit]
Description=Litelog-Sh Git-Annex Webapp
Conflicts=litelog-sh-git_annex-assistant.service litelog-sh-git-commit.path litelog-sh-git-commit.timer
Requires=litelog-sh-systemd-confsync.service

[Service]
EnvironmentFile=/etc/litelog
ExecStart=/bin/sh -c ". ${LITELOGDIR}/sh/functions; cd \"$(readlink -f ${LOGDIR})\"; exec git annex webapp --listen=localhost --trust-glacier"

[Install]
WantedBy=default.target
