[Unit]
Description=Litelog-Sh Git-Annex Fscker

[Service]
EnvironmentFile=/etc/litelog
Nice=19
ExecStart=/bin/sh -c "cd ${LOGDIR}; exec notify-send 'git annex fsck status' \"$(git annex fsck --incremental-schedule=1d)\""

[Install]
WantedBy=default.target
