[Unit]
Description=Litelog-Sh Git-Annex Add Timer
Conflicts=litelog-sh-git_annex-watch

[Timer]
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=default.target
