[Unit]
Description=Litelog-Sh Git-Annex Diskspace-Reserver
Before=litelog-sh-git_annex-webapp.service litelog-sh-git_annex-assistant.service
Requires=litelog-sh-systemd-confsync.service

[Service]
EnvironmentFile=/etc/litelog
ExecStart=/bin/sh -c ". ${LITELOGDIR}/sh/functions; cd \"$(readlink -f ${LOGDIR})\"; git config --unset-all annex.diskreserve; git config --add annex.diskreserve $((TIGHT_SPACE_BYTES))"
Type=oneshot
