[Unit]
Description=Litelog-Sh Git-Annex Syncer

[Service]
EnvironmentFile=/etc/litelog
ExecStart=/bin/sh -c "cd ${LOGDIR}; flock .git_annex_lock -c 'git annex sync --content'"
Type=oneshot
