ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="0bda", ATTRS{idProduct}=="2838", \
RUN="/usr/bin/env systemctl start litelog-sh-soapy_power-scan", \
OPTIONS="last_rule"
