[Unit]
Description=Litelog-Sh Soapy_Power Compressor

[Service]
EnvironmentFile=/etc/litelog
Type=oneshot
ExecStart=/bin/sh ${LITELOGDIR}/sh/soapy_power/compress.sh
