[Unit]
Description=Litelog-Sh Git Committer

[Service]
EnvironmentFile=/etc/litelog
ExecStart=/bin/sh -c "cd ${LOGDIR}; git add ."
ExecStart=/bin/sh -c "cd ${LOGDIR}; git commit -m $$(date -Iseconds)"
Type=oneshot
