[Unit]
Description=Litelog-Sh Systemd Configuration Synchronizer
Requires=remote-fs.target

[Service]
User=root
Type=oneshot
EnvironmentFile=/etc/litelog
ExecStart=/bin/sh ${LITELOGDIR}/sh/systemd/confsync.sh
