[Unit]
Description=Litelog-Sh Video Recorder

[Service]
EnvironmentFile=/etc/litelog
ExecStart=/bin/sh ${LITELOGDIR}/sh/video/record.sh "%I"
ExecStopPost=/bin/sh ${LITELOGDIR}/sh/video/compress.sh &
Restart=always
