[Unit]
Description=Litelog-Sh Video Compressor
Requires=litelog-sh-systemd-confsync.service

[Service]
EnvironmentFile=/etc/litelog
Type=oneshot
ExecStart=/bin/sh ${LITELOGDIR}/sh/video/compress.sh
