[Unit]
Description=Litelog-Sh Tight Space Recording Halter
Requires=litelog-sh-systemd-confsync.service

[Service]
EnvironmentFile=/etc/litelog
ExecStart=/bin/sh ${LITELOGDIR}/sh/tight_space/systemd/recording_halt.sh

