SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", KERNEL=="ttyUSB?", MODE:="0644",\
RUN="/usr/bin/systemctl start litelog-sh-zeo-dumpstream@$env{DEVNAME}", \
OPTIONS="last_rule"
